* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.navbar {
  height: 94px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: fixed;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #ffffff;
  color: #292d33;
  height: 74px;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  padding: 94px;
  min-height: 100vh;
}

.header-image {
  background-image: url("../img/header-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}

.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 53px;
  color: inherit;
}

.header-phone {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

.button {
  padding: 26px 60px;
  display: inline-block;
  font-weight: 600;
  font-size: 17px;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  border: none;
  cursor: pointer;
}

.navbar-button {
  height: 100%;
  width: 304px;
  flex-shrink: 0;
  padding: 25px 0;
}

.header-button {
  padding: 25px 57px;
  height: 100%;
  word-spacing: -3.2px;
}

.separator {
  width: 150px;
  height: 2px;
  background: #5c8ee5;
}

.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.header-title {
  max-width: 1020px;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  margin: 25px 0 37px;
}

.header-text {
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
}

.header-features {
  display: flex;
  min-height: 168px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  color: #ffffff;
  position: relative;
}

.header-features-item {
  padding: 28px 50px;
  width: 288px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 18px;
  margin-right: 5px;
}

.section {
  margin-top: 37px;
  margin-bottom: 150px;
}

.section-title {
  margin-top: 25px;
  font-family: "Bebas Neue";
  color: #292d33;
  font-size: 60px;
  font-weight: 400;
  line-height: 120%;
}

.steps {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
  padding: 0 33px 0 0;
}

.steps-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue";
  color: #5c8ee5;
  font-size: 48px;
  line-height: 120%;
}

.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 30px;
}

.steps-title {
  margin-top: 35px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
}

.steps-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5c8ee5;
}

.steps-link::before {
  content: "";
  height: 1px;
  width: 40px;
  background: #5c8ee5;
  margin-right: 20px;
}
