* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.navbar {
  height: 5.875rem;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: fixed;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #ffffff;
  color: #292d33;
  height: 4.625rem;
}

.phone-icon {
  fill: #5c8ee6;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  padding: 5.875rem;
  min-height: 100vh;
}

.header-image {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}

.header-nav-item:not(:last-child) {
  margin-right: 4%;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.header-phone {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
}

.header-phone-link {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
}

.button {
  padding: 1.625rem 3.75rem;
  display: inline-block;
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  border: none;
  cursor: pointer;
}

.navbar-button {
  height: 100%;
  width: 19rem;
  flex-shrink: 0;
  padding: 1.5625rem 0;
}

.navbar-button .button-icon {
  display: none;
}

.header-button {
  padding: 1.5625rem 3.5625rem;
  height: 100%;
}

.separator {
  width: 9.375rem;
  height: 2px;
  background: #5c8ee5;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.header-title {
  max-width: 63.75rem;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  margin: 1.5625rem 0 2.3125rem;
}

.header-text {
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #ffffff;
  position: relative;
}

.header-features-item {
  padding: 1.75rem 3.125rem;
  width: 18rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.125rem;
  margin-right: 0.3125rem;
}

.section {
  margin-top: 2.3125rem;
  margin-bottom: 9.375rem;
}

.section-title {
  margin-top: 1.5625rem;
  font-family: "Bebas Neue";
  color: #292d33;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 120%;
}

.steps {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 1.875rem;
}

.steps-item {
  max-width: 20.625rem;
  padding: 0 2.0625rem 0 0;
}

.steps-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue";
  color: #5c8ee5;
  font-size: 3rem;
  line-height: 120%;
}

.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 1.875rem;
}

.steps-title {
  margin-top: 2.1875rem;
  margin-bottom: 0.625rem;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
}

.steps-text {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
}

.steps-link::before {
  content: "";
  height: 1px;
  width: 2.5rem;
  background: #5c8ee5;
  margin-right: 1.25rem;
}

@media (min-width: 1460px) and (max-width: 1920px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333333;
  }
  .mobile-menu-line {
    height: 1px;
    width: 100%;
    background-color: #ffffff;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button {
    width: auto;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffffff;
  }
}
