* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.navbar {
  height: 94px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header-logo {
  padding: 25px 50px;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}

.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}

.header-phone {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

.button {
  padding: 25px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  border: none;
}

.header-button {
  height: 100%;
}
